# Ejemplo cuando n8n corre en subruta (reverse proxy)
N8N_INTERNAL_URL=https://agente01-n8n.njglfo.easypanel.host/n8n/
N8N_WEBHOOK=/n8n/webhook-test/holamundo
TELEGRAM_BOT_TOKEN=pon_aqui_el_token_de_botfather
HF_TOKEN=pon_aqui_el_token_de_huggingface
# HF_ASR_URL=https://api-inference.huggingface.co/models/openai/whisper-small
# HF_TTS_URL=https://api-inference.huggingface.co/models/facebook/mms-tts-esp
