# App: n8n (subdominio con subpath /n8n/)
GENERIC_TIMEZONE=America/Santiago
N8N_PROTOCOL=https
N8N_HOST=agente01-n8n.njglfo.easypanel.host
N8N_PATH=/n8n/
N8N_EDITOR_BASE_URL=https://agente01-n8n.njglfo.easypanel.host/n8n/
WEBHOOK_URL=https://agente01-n8n.njglfo.easypanel.host/n8n/
N8N_ENCRYPTION_KEY=cambia_esta_cadena_larga
