# App: n8n (subdominio dedicado en raíz)
GENERIC_TIMEZONE=America/Santiago
N8N_PROTOCOL=https
N8N_HOST=agente01-n8n.njglfo.easypanel.host
N8N_PATH=/
N8N_EDITOR_BASE_URL=https://agente01-n8n.njglfo.easypanel.host/
WEBHOOK_URL=https://agente01-n8n.njglfo.easypanel.host/
N8N_ENCRYPTION_KEY=cambia_esta_cadena_larga
