# App: demo (mini web)
# Si n8n está en subdominio raíz:
N8N_INTERNAL_URL=https://agente01-n8n.njglfo.easypanel.host
# Si usas subpath en n8n, cambia a:
# N8N_INTERNAL_URL=https://agente01-n8n.njglfo.easypanel.host/n8n
NPM_CONFIG_FUND=false
NPM_CONFIG_AUDIT=false
